nav{
    margin-top: 40px;
    
}
.btn1{
    margin-left: 400px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #f8f4e3;
    color:black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn1:hover,.btn1:focus,.btn1:active{
    box-shadow: 0 0 20px rgba(255,255,255,255);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.logo{
  margin-top: 25px;
  margin-left: 20px;
}
.btn4{
    margin-left:15px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #f8f4e3;
    color:black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn4:hover,.btn4:focus,.btn4:active{
    box-shadow: 0 0 20px rgba(255,255,255,255);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
body{
    background-color:#120538;
    margin: 0;
}
.btn2{
     margin-left: 60%;
}
.btn3{
    margin-left: 15px;
}
.h1{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #f7a1b5;
    font-size: 40px;
}
.pre1{
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f8f4e3 ;
    font-size: 25px;
}
.btn5{
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #f8f4e3;
    color:black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn5:hover,.btn5:focus,.btn5:active{
    box-shadow: 0 0 20px rgba(255,255,255,255);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn6{
    margin-left:-2px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #f8f4e3;
    color:black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn6:hover,.btn6:focus,.btn6:active{
    box-shadow: 0 0 20px rgba(255,255,255,255);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.sp1{
    padding-right: 1px;
    color:#f8f4e3 ;
}
.img1{
    margin-left: 50%;
    margin-top: -1500px;
}
.h_one{
    text-align: center;
    color: #5927ec;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.sec2{
    padding: 0px;
    background-color: #f8f4e3;
}
header{
    padding-bottom: 10%;
}
.sec2{
    margin-right: 0%;
}
.container1{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 115px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container1:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container2{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 540px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container2:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container3{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 965px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container3:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container4{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 115px;
    margin-top: 30px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container4:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container5{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 540px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container5:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container6{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 965px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container6:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container7{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 115px;
    margin-top:30px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container7:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container8{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 540px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container8:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.container9{
    background-color: #F8B4C4;
    height: 100px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 965px;
    margin-top: -155px;
    border-radius: 8px;
    padding-top: 35px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.container9:hover{
    transform:scale(1.1);
    background-color: #5927ec;
    color:white;
}
.img2{
    margin-left: 35%;
}
.h_two{
    color: black;
    text-align: center;
    font-size: 40px;
}
.btn7{
    margin-left: 730px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #120538;
    color:white;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn7:hover,.btn7:focus,.btn7:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.h_three{
    text-align: center;
    color: black;
    font-size: 25px;
}
footer{
    background-color: #120538;
}
.h_four{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f7a1b5;
    margin-top: 100px;
    margin-left: 250px;
}
.h_five{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f7a1b5;
    margin-top: -320px;
    margin-left: 650px;
}
.logos1{
    margin-left: 300px;
    transition: transform 0.3s;
    cursor: pointer;
}
.logos1:hover{
    transform:scale(1.1);
}
.logos2{
    transition: transform 0.3s;
    cursor: pointer;
}
.logos2:hover{
    transform:scale(1.1);
}
.logos3{
    margin-left: 1100px;
    transition: transform 0.3s;
    cursor: pointer;
}
.logos3:hover{
    transform:scale(1.1);
}
.add2{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px;
    color: #f7a1b5; 
    margin-left: 285px; 
    margin-top: -22px;
}
